
/*styling for the whole page*/
body {
	font-family:Book Antiqua;
	font-size: 16px;
    background-color:#B0E0E6; /*#eeeeee*/
	color: #680000;
}

/*styling for the page title*/
h1 {
	font-style: italic;
	font-size: 28px;
    text-align: center;
    background-color: #BC8F8F;
	color:#f8f8f8;
}

h2 {
	color:#A0522D;
}

/*styling for the overall table*/
table {
    background-color: #F8F8F8;
	border: solid 2px #787878;
}

/*styling for the title of the table*/
th {
    font-weight: bold;
    text-align: left;
}

/*styling for the coffee types*/
.label {
    font-weight: bold;
}

/*styling for the tables*/
.altrow {
	background-color: #F4A460;/*#E0E0E0*/
}

/*styling for the Google Map link*/
#locationlink {
	color: #380000;
	font-style:italic;
}

/*styling for the bottom copyright information*/
footer {
    font-style: italic;
	font-size: 12px;
	text-align: center;
}

#selector {
	border: 5px dashed black;
	background-color: #BC8F8F;/*#996600*/
}

#selector2 {
	border: 5px dashed black;
	background-color: #BC8F8F;/*#996600*/
	color: ivory;
}

#selector3 {
	border: 5px dashed black;
	background-color: #BC8F8F;/*#996600*/
	color: ivory;
}

button{
	background-color: brown;
	color:white;
	font-family:Impact,Tahoma;
}

input{
	font-family:Tahoma,Book Antiqua;
	font-weight:bold;
	color: blue;
	border: none;
	border-left: 3px solid #F4A460;	
    border-bottom: 3px solid #F4A460;
	background-color: lightyellow;
}

a:hover
{
	text-decoration: overline underline;
	color: blue;
}