

body {
	font-family:"comic sans MS", "comic sans", Book Antiqua;
	font-size: 16px;
    background-color:white; /*#eeeeee*/
	color: black;
}


h1 {
	font-family: papyrus, comic sans, Book Antiqua;
	font-style: italic;
	font-size: 28px;
    text-align: center;
    background-color: white;
	color:black;
}
#caption{
	font-family:papyrus,comic sans,Book Antiqua;
	color: black;
	text-align: left;
	background-color: white;
}

h2 {
	color:#A0522D;
	font-family:"Times New Roman";
	 
}

p{
	font-family: "comic sans MS", papyrus, Book Antiqua;
}




#selector {
	border: 5px dashed black;
	background-color: #BC8F8F;/*#996600*/
}

#selector2 {
	border: 5px dashed black;
	background-color: #BC8F8F;/*#996600*/
	color: ivory;
}

#selector3 {
	border: 5px dashed black;
	background-color: #BC8F8F;/*#996600*/
	color: ivory;
}

button{
	background-color: brown;
	color:white;
	font-family:Impact,Tahoma;
}

input{
	font-family:Tahoma,Book Antiqua;
	font-weight:bold;
	color: blue;
	border: none;
	border-left: 3px solid #F4A460;	
    border-bottom: 3px solid #F4A460;
	background-color: lightyellow;
}

a:hover
{
	text-decoration: overline underline;
}