body
{
	font-family:Book Antiqua,'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	color:#FFEFD5/*#FFEFD5*//*#F4AC45*/ ;
	background-color: #b65123/*#696969*/ /*#708090*/;
	margin-left: 75px;
	margin-right: 75px;
}


header, footer
{
	text-align: center;
	color: #F4AC45;
	font-weight: bold;
}

h1, h2, h3
{
	color: #FFefbd;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	text-align: center;
}

/*h3
{
	font-size: 200%;
	line-height: 0px;
}
*/
a
{
	text-decoration: none;
	color:rgb(248, 243, 239)/*#FFDAB9*/;
}

a:hover
{
	text-decoration: overline underline;
	color: lightgreen;
}


figure
{
	text-align: center;
	
	
}

figcaption
{
	font-style: italic;
}

#img {
	border-radius: 10%;
	border: 5px solid ivory;
}


nav
{
	text-align: center;
    background-color: rgb(82, 4, 4);
    padding: 10px;
}

.title{
	text-align: left;
}

.text{
	text-align: center;
	font-size: 150%;
}	

table
{ 
	border-style:solid;
	/*border-collapse: collapse;*/
	border-color:rgb(217, 221, 158);
	background-color:rgb(94, 8, 8);/*green ;*/
	margin: 20px;
	border-radius: 10px;
	padding: 15px;
}

/*thead
{
	background-color:green ;
}*/

/*th, tr
{
	border: 1px solid rgb(217, 221, 158);;
	background-color:rgb(94, 8, 8);
	padding: .2em 1em .2em .5em;
	text-align: left;
	vertical-align: middle;
	
}	*/

.right
{
	text-align: right;
}

/*tbody{
	border-radius: 10px;
	
}*/

/*tbody tr:nth-child(odd) td
{
	background-color: lightgreen;
	color: DarkSlateGrey;
}*/

#selector {
	border: 5px dashed black;
	background-color: DarkSlateGray;/*#996600*/
}

.selector2 {
	border: 5px dashed black;
	background-color: DarkSlateGray;/*#996600*/
	color:#FFEFD5 ;
}

button{
	background-color: brown;
	color:white;
	font-family: Tahoma;
}

input{
	font-family:Tahoma,Book Antiqua;
	font-weight:bold;
	color: green;
	border: none;
	border-left: 3px solid tomato;	
    border-bottom: 3px solid tomato;
	background-color: lightyellow;
}

.center {
	text-align: center;
}

.custombutton{
	background-color:DarkRed;
	color: white;
	font-family: Tahoma;
}

.custompara{
	font-size: 110%;
	margin-left: 100px;
	margin-right: 100px;			
}

.fig-center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	border: 5px solid rgb(156, 18, 18);
  }

.custom-li{
	padding: 0 0.6em;
	display: inline;
	font-size: large;
	text-align: center;	
}

.custom-div{/*in use*/
	background-color: rgb(104, 14, 14);
	color: rgb(208, 245, 0);
	/*border-color: blue;*/
	margin-left: 100px;
	margin-right: 100px;
	border-style: dashed;
	border-radius: 20px;
  }

  /*==================Project=================*/

  * {
	box-sizing: border-box;
  }
  
 
  /* Clear floats after the columns */
  .row:after {
	content: "";
	display: table;
	clear: both;
  }

  .new-div{
	  background-color: rgb(94, 8, 8);
	  color: azure;
	  float: left;
	  width: 50%;
	  height: 1000px;
	  border-style: solid;
	  border-color: rgb(217, 221, 158);
	  border-radius: 10px;
	  padding: 15px;
	  font-size: larger;
  }

  .new-div2{
	background-color: rgb(94, 8, 8);/*#b65123;/*rgb(94, 8, 8);*/
	color: azure;
	float: right;
	width: 50%;
	height: 1000px;
	border-style: solid;
	border-color: rgb(217, 221, 158);
	border-radius: 10px;
	padding: 15px;
	font-size: larger;
}

custom-fig{
	display: inline;
}

.bx-wrapper {
	margin-bottom: 20px;
}
#id_pager {
	text-align: center;
	font-size: larger;
	color: azure;
}

.slide{
	font-family: Arial, Helvetica, sans-serif;
	width: 900px;
	margin: 0 auto;
    padding: 20px;
    border: 3px solid;
	border-radius: 10px;
	border-color: rgb(217, 221, 158);
	background-color: rgb(94, 8, 8);
}

.quiz{
	color:#f4f800; 
	font-size: large;
}